.right-side .left-side {
    height: 100%;
}
.right-side {
    background-color: rgb(40, 46, 43);
    color: white;
}

.left-side {
    background-color: rgb(58, 58, 58);
    color: white;
}


/* SIDEBAR */
.--profile-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.--icons {
    display: flex;
    justify-content: flex-end;
}
