
.navBar_login{
    background-color:#00BFA5;
    height: 20vh !important;
    z-index: -1;
}

.navbar-brand img{
    margin: 20px 20px 20px 20px;
}

.navbar-brand span{
    color: white;
    font-size: 10px;
    font-weight: bold;
}
.navbar-brand{
    display: flex !important;
    align-items: center !important;
    margin-top: -70px;
    margin-left: 40px;
}

.formContainer{
    margin: auto;
    height: 400px;
    width: 400px;
    background-color: white;
    z-index: 1;
    margin-top: -50px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formContainer input{
    margin: auto;
}
.formContainer .formTitle{
    color: rgba(0, 0, 0, 0.698);
    display: inline;
    margin-top: -50px;
    padding-bottom: 50px;
}

.formContainer .form-label{
    margin-bottom: 2px;
    font-size: 12px;
}

.googleButton{
    margin-top: 30px;
    background-color: white;
    border-color: transparent;
    border-radius: 6px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.863);
}
.googleButton:hover{
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.googleButton img {
    margin: 5px;
    width:15px;
    height:15px;
}