.right-side, .left-side {
    height: 100vh;
}
.right-side {
    background-color: rgb(40, 46, 43);
    color: white;
}

.left-side {
    background-color: rgb(58, 58, 58);
    color: white;
}


/* SIDEBAR */
.--profile-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.--icons {
    display: flex;
    justify-content: flex-end;
}


/* PROFILE */
.--chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.--mainChat-nav-container {
    box-sizing: border-box;
    position: relative;
    height: 60px;
    background-color: rgb(58, 58, 58);
    display: flex;
    justify-content: space-between;
}

.--chat-nav {
    position: absolute;
}

.chat-list {
    color: black;
    margin-bottom: 10rem;
}